body {
    background-color: #ffffff;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }
  
  .bookshelf {
    position: relative;
    width: 400px;
    height: 600px;
  }
  
  /* Base brown layer */
  .base-layer {
    background-image: url(/assets/Bookshelf_base.svg);
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }
  
  /* books layer */
  .books-layer {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    z-index: 3;
  }
  
  .book {
    background-color: #92b7d0;
    width: 100%;
    height: 100px;
    border-radius: 5px;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
  }
  
  /* moving up when hovering */
  .book:hover {
    transform: translateY(-20px);
  }

  /* enlarging when clicked */
.book.opening {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 300px;
  transform: translate(-50%, -50%) scale(2) rotateY(0deg);
  z-index: 9999;
  transition: transform 0.8s ease-in-out;
}
  
  /* bookshelf slots */
  .slots-layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 50px 0;
    pointer-events: none;
  }
  
  .slot {
    background-color: #e2ddcb;
    height: 75px;
    margin: 0 5px;
    border-radius: 2px;
  }
  