body {
  margin: 0;
  background-color: #ffffff;
  font-family: sans-serif;
  overflow: hidden;
}

/* 页面主容器 */
.wind-container {
  display: flex;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}

/* 左側書本區 */
.book-section {
  position: relative;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; /* 让书页和按钮上下分布 */
  margin-bottom: 1.5%;
}

/* 書本底層 */
.book-base {
  background-image: url("../assets/texture/Half\ Book-Natural.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 620px;
  height: 630px;
  left: 0;
  z-index: 1;
  margin-top: 8%;
}

/* 書頁上層 */
.book-inner {
  background-image: url("../assets/texture/Book\ Page_R.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  width: 478px;
  height: 587px;
  left: 0;
  margin-top: 12%;
  z-index: 2;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 5%;
}

.book-buttons {
  position: absolute;
  top: 50%;
  right: 1%; /* 控制与右侧的距离 */
  transform: translateY(-50%);
  display: flex;
  gap: 12px; /* 两按钮之间的间距 */
  z-index: 3; /* 高于 book-base，但不遮住 hover 效果 */
}

.book-btn {
  width: 48px;
  height: 48px;
  background-color: #ffffff00;
  border: 1px solid #aaaaaa00;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
}

.add {
  background-image: url('../assets/Add\ to\ Collection.svg');
}

.collection {
  background-image: url('../assets/Collection.svg');
}

/* 圖片區 */
.texture-image,
.soundwave-image {
  height: 180px;
  background-color: #ccc;
}

.texture-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 4px;
}

.soundwave-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 4px;
}

/* 音樂播放器區 */
.music-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.controls button {
  margin: 0 10px;
  font-size: 20px;
  background-color: #ffffff00;
  border: none;
}

.controls button img {
  width: 48px;
  height: 48px;
}

.controls button img:hover {
  transform: scale(1.2);
}

/* 播放速度控制條 */
.speed-control {
  position: absolute;
  top: 72%;
  right: 9%;
  height: 100%;
  width: 10%;
  writing-mode: vertical-rl;
  transform: translateY(-50%);
  text-align: center;
  z-index: 99;
}

.speed-control input {
  height: 150px;
  margin-right: 10%;
  writing-mode: bt-lr;
  transform: rotate(180deg);
}

.back-button {
  margin-top: 104%;
  margin-right: 28%;
}

.back-button img {
  width: 48px;
  height: 48px;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.back-button img:hover {
  transform: scale(1.2);
}

/* 右側動畫 Canvas */
.p5-canvas-container {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f0f0f0;
}

#p5-holder {
  width: 100%;
  height: 100%;
}